*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */

.nav{
    display: flex;
    justify-content: center;
    background-color: #111111;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

/* User List */

.user-list ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: .5rem;
    flex-wrap: wrap;
    background-color: #1F2937;
}

.single-user{
    display: flex;    
    align-items: center;
    background-color: #374151;
    color: white;
    width: 400px;
    margin: 1rem;
    border-radius: 1rem;
    transform: rotate3d(1,-1,0, 20deg);
}

.single-user.active{
    transform: rotate3d(0,0,0, 0deg);
    animation: userFade 0s forwards;
}

.single-user:hover{
    animation: userFade .5s forwards;
    transform: rotate3d(0,0,0, 0deg);
}

.user-image{
    border: 1px solid white;
    border-radius: 4rem;
    margin: 1rem;
}

.user-info{
    margin-left: 1rem;
    font-size: small;
}

/* User Details */

.user-details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(45deg, gold, goldenrod);
    border-bottom: 1px solid gray;
}

.user-details-image{
    width: 180px;
    height: 180px;
    border: 1px solid white;
    border-radius: 8rem;
    margin: 1rem;
}

.user-details-info{
    margin: 1rem;
}

.user-details-title{
    margin-top: 1.5rem;
}

.user-details-sub{
    margin-bottom: 0;
}

.user-details-button{
    background-color: #374151;
    color: white;
    height: fit-content;
    width: fit-content;
    margin: .5rem;
    padding: .5rem;
    border: 0;
    border-radius: 2rem;
    position: absolute;
    right: 0;
}

.user-details-button:hover{
    animation: userFade .5s forwards;
    color: black;
}

/* Footer */

.footer{
    display: flex;
    align-items: center;
    background-color: #111111;  
    color: white;
}

.footer-group-items{
    margin: .5rem;
    width: 100%;
}

/* Key Frames */

@keyframes userFade {
    from{
        background-color: #374151;
    }

    to{
        background: linear-gradient(45deg, gold, goldenrod);
    }
}
