*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
}

.header-title {
    margin: 10px;
}

.user-list ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.single-user{
    display: flex;    
    align-items: center;
    background-color: darkkhaki;
    width: 400px;
    margin: 1rem;
    border-radius: 1rem;
}

.user-image{
    border-radius: 4rem;
    margin: 1rem;
}

.user-info{
    margin-left: 1rem;
}

.user-mail{
    font-size: small;
}
